/* DOCUMENT */ 
html{ scroll-behavior: smooth; }

body {
    font-family: Arial;
    color: #4A566E;
    margin: auto;
}

h1, h3, h4, p { text-align: center; }

h1 { font-size: 48px; }

p { line-height: 1.7; }

/* TOP */
/* MENU */
.menu {
    text-align: right;
    padding-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #4A566E;
    margin-left: 20px;
}

.menu a:hover { color: #741BFF; }

/* APRESENTAÇÃO */ 
.box1 {
    padding: 30px 0px 50px 0px;
    text-align: center;
    background-size: cover;
}

.foto {
    height: 150px;
    border-radius: 50%;
}

/* HABILIDADES */
.box2 {
    background-color: #741BFF;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tituloHabilidades {
    color: #FFF;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.habilidade {
    background: #FFF;
    border-radius: 30px;
    width: 300px;
    margin: 20px 50px 0px 50px ;
    text-align: center;
    padding: 40px 10px 40px 10px;
}

/* CONTACT */
.box3 {
    height: 250px;
    text-align: center;
}

.tituloContato {
    text-align: center;
    padding-bottom: 50px;
}

.linLinkedin {
    color: #FFF;
    background: #0A66C2;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.linLinkedin:hover {
    background: #0782fc;
}


@media (max-width: 600px) {
    .menu { display: none; }
    .habilidade { margin: 15px 10px 30px 10px; }
}

footer {
    text-align: center;
    margin-bottom: 25px;
}

footer a {
    text-decoration: none;
    color: #4A566E;
}

footer a:hover {
    color: #741BFF;
}
