html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    color: #4A566E;
    margin: auto;
}

/* APRESENTAÇÃO */ 
.box1 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

/* HABILIDADES */
.box2 {
    background-color: #741BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 800px;
}

.habilidade {
    background: #FFF;
    height: 500px;
    border-radius: 30px;
    width: 300px;
    margin: 0px 50px 0px 50px ;
}


.box3 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box3 a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.7;
}

img {
    height: 150px;
    border-radius: 50%;
}

.whatsapp {
    margin: 0px 25px 0px 25px;
}

.linkedin {
    margin: 0px 25px 0px 25px;
}

footer {
    text-align: center;
    margin-bottom: 25px;
}

footer a {
    text-decoration: none;
    color: #4A566E;
}

/* MENU */
.menu {
    text-align: right;
    padding-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #4A566E;
    margin-left: 20px;
}

.menu a:hover {
    color: #741BFF;
}
